@import "~bootstrap/dist/css/bootstrap.min.css";

#sizeNumber {
  margin: 0 auto;
  font-size: 100px;
}

.card {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 300px;
  height: 400px;
}

.sizeSymbol {
  font-size: 60px;
}

body {
  background: green;
}
